@tailwind base;
@tailwind components;
@tailwind utilities;

.containerr {
  position: relative;
  top: 6rem;
}

.swap-icon {
  cursor: pointer;
}
.swap-icon:hover {
  background-color: gainsboro;
  border-radius: 50%;
}

input::placeholder {
  color: #6b7280;
}

.select-icon {
  width: 1rem;
}

label,
.amount {
  color: #09090b;
}
