@tailwind base;
@tailwind components;
@tailwind utilities;

.containerr {
  position: relative;
  top: 6rem;
}

.swap-icon {
  cursor: pointer;
}
.swap-icon:hover {
  background-color: gainsboro;
  border-radius: 50%;
}
